a{
    text-decoration:none;
    font-style:italic;
    color:white;
}

a:hover{
    color:#F5C650;
}


#container {
    font-family:'Georgia';
}
#header {
    padding-top:25px;
    text-align:center;
    font-size: 28pt;
    color:white;
    background-color:#333442;
    
}

#navbar {
    padding-bottom:5px;
    border-bottom-style:solid;
    border-bottom-color:#333442;
    list-style-type: none;
    overflow: hidden;
    width:450px;
    text-align:center;
    background-color:#345469;
    margin:auto;
    margin-top:15px;
}

#navbar a {
    font-size:12pt;
    padding:15px;
}

#menu {
    height:550px;
    width:15%;
    padding:0 30px;
    padding-top:30px;
    float:left;
    box-sizing:border-box;
    background-color:#345469;
    color:white;
}

#menulist a {
    list-style-type: none;
    padding:5px;
}

#cvitae {
    color:#555964;
}

#cvitae:hover {
    color:#F5C650;
}

#scholar:hover {
    color:#F5C650;
}

#email {
    color:#555964;
}

#email:hover {
    color:#F5C650;
}

#content {
    height:550px;
    width:85%;
    float:right;
    box-sizing:border-box;
    color:black;
    background-color:white;
}

#content1 {
    height:250px;
}

#content2 {
    padding-left:22px;
    margin-top:28px;
}

#interests li {
    padding:10px;
}

#mcheadshot {
    float:left;
    border-style:solid;
    border-color:#333442;
    padding:5px;
    background-color:#494B5E;
    margin:20px;
}

#myinfo {
    padding-top:40px;
    padding-left:250px;
}

#myinfo p {
    padding:1px;
}

#footer {
    clear:both;
    padding-bottom:15px;
    background-color:#333442;
    color:white;
    text-align:center;
}

#bnavbar {
    border-top-style:solid;
    border-color:#333442;
    width:450px;
    list-style-type: none;
    overflow: hidden;
    padding:10px 0 20px;
    background-color:#345469;
    text-align:center;
    margin-bottom:15px;
    margin:auto;
}

#bnavbar a {
    font-size:12pt;
    padding:8px 15px;
}

#copyright span {
    padding:10px 90px;
}
